@model ViewModel.IndexViewModel
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/UnAuthLayout.cshtml";
}
  <!-- Login Section -->
  <div class="login-page">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-xxl-7 col-xl-6 d-none d-xl-block">
          <div class="radar-main-wrapper">
            <div class="radar-main-circle-one"></div>
            <div class="radar-main-circle-two"></div>
            <div class="radar-main-circle-three"></div>
            <div class="radar-logo-wrapper">
              <div class="radar">
                <div class="animated-text-wrapper">
                  <p class="cd-headline slide mb-0">
                    <span class="cd-words-wrapper">
                      <b class="is-hidden">FIThub</b>
                      <b class="is-hidden">FIThub</b>
                      <b class="is-visible">FIThub</b>
                    </span>
                  </p>
                </div>
              </div>
              <div class="logo-wrapper d-flex justify-content-center align-items-center">
                <img src="/img/hero-7-logo.png" alt="image" class="img-fluid hero-7-logo">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10">
          <div class="gradient-card py-sm-12 py-8 px-sm-8 px-5 rounded-5">
            <p class="fs-24 fw-medium clr-neutral-80 mb-5">Welcome !</p>
            <h4 class="h4 fw-bold mb-2 clr-neutral-90">Sign in to </h4>
            <p class="clr-neutral-80"></p>
            <form action="/UnAuth/SignInRequest" method="post">
              
              <div class="mt-8">
                <label class="clr-neutral-80 mb-2">User Name</label>
                            <input type="text" name="Username" data="Username" class="form-control border border-neutral-17 clr-neutral-90 :focus-clr-current rounded-2 py-4 px-4 bg-neutral-4 placeholder-50 focus-bg-none" placeholder="Enter your user name">
              </div>
              <div class="mt-8">
                <label class="clr-neutral-80 mb-2">Password</label>
                <div class="pass-field-area">
                                <input type="password" name="Password" data="Password" class="form-control border border-neutral-17 clr-neutral-90 :focus-clr-current rounded-2 py-4 px-4 bg-neutral-4 placeholder-50 focus-bg-none" placeholder="Enter your password">
                  <button type="button" class="bg-transparent border-0 pass-eye">
                    <i class="bi bi-eye-slash-fill eye-off"></i>
                    <i class="bi bi-eye-fill eye-on"></i>
                  </button>
                </div>
              </div>
              
              <button type="submit" class="link d-inline-flex justify-content-center align-items-center gap-2 py-4 px-6 border border-primary-key bg-primary-key rounded-1 fw-bold clr-white border-0 w-100 mt-8 :arrow-btn">
                <span>Login Now</span>
                <i class="bi bi-arrow-right"></i>
              </button>
              <p class="mb-0 clr-neutral-80 text-center mt-8">Don't have an Account ? <a href="/UnAuth/SignUp" class="link clr-primary-key fw-semibold">Register</a></p>
              <div class="text-center mt-6">
                <a href="/" class="link d-inline-flex justify-content-center align-items-center gap-2 py-2 px-4 border border-primary-key bg-primary-key :bg-primary-30 rounded-pill fs-14 fw-bold text-center clr-white">
                  <span class="d-block"> Back to Home </span>
                  <span class="d-block fs-10">
                    <i class="bi bi-arrow-up-right"></i>
                  </span>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="login-copyright">
      </div>
    </div>
    <img src="/img/login-shape-top.png" alt="image" class="img-fluid login-shape login-shape-top">
    <img src="/img/login-shape-left.png" alt="image" class="img-fluid login-shape login-shape-left">
    <img src="/img/login-shape-right.png" alt="image" class="img-fluid login-shape login-shape-right">
    <img src="/img/login-shape-line-left.png" alt="image" class="img-fluid login-shape login-shape-line-left">
    <img src="/img/login-shape-line-right.png" alt="image" class="img-fluid login-shape login-shape-line-right">
  </div>
  <!-- /Login Section -->
  <!-- scrpts -->
  <script src="/js/plugins.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/animatedt-title.js"></script>
