@{
    ViewBag.Title = "CompetitionDetails";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div class="hero-4 ">

    <div class="hero-4__content bg-black rounded-top-5 section-space-top">
        <div class="section-space-top section-space-sm-bottom">
            <div class="section-space-sm-bottom">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10">
                            <h2 class="mb-6 text-center clr-white fw-extrabold animate-line-3d" style="perspective: 400px;">
                                <span class="d-inline-block gradient-flow gradient-flow--start"> AI Content </span> Creation &amp; Customer Experience <span class="d-inline-block gradient-flow gradient-flow--end"> Platform </span>
                            </h2>
                            <p class="mb-0 text-center fw-extrabold ff-1 fs-18 clr-white animate-line-3d" style="perspective: 400px;">
                                <span class="clr-grad-6">Chat, Code, Cloud, Deployments</span> &amp; more Many Option
                            </p>
                            <ul class="list list-row gap-5 mt-6" style="
    margin: auto;
    padding: 0;
    display: table;
">
                                <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                    <i class="bi bi-calendar2-date"></i> <!--Updated On October--> Last Update 10/26/2023 3:30:00 PM
                                </li>
                                <li class="fs-14 clr-neutral-80 d-flex gap-2"><i class="bi bi-person-circle"></i> By user3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="top-shadow section-space-sm-y rounded-4 bg-black position-relative z-1 overflow-hidden fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                            <div class="row g-4 align-items-center" style="
">

                                <div class="col-md-6 col-xl-7" style="
    width: -webkit-fill-available;
">
                                    <div class="text-center">
                                        <img src="/img/hero-4-img.webp" alt="image" class="img-fluid" style="
">
                                    </div>
                                </div>
                            </div>
                            <img src="/img/hero-4-content-shape.webp" alt="image" class="w-100 h-100 position-absolute inset-0 z-n1 pointer-none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="why-choose-ai-section section-space-sm-y">
    <div class="section-space-sm-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-xl-6">
                    <h3 class="mb-0 text-center fw-extrabold clr-neutral-90 animate-line-3d" style="perspective: 400px;"> Why Choose Using AI </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-12">
                <div class="choose-section-1">
                    <div class="row g-4 justify-content-center">
                        <div class="col-lg-4 d-xl-none">
                            <div class="d-none d-lg-inline-block">
                                <img src="/img/choose-section-1-img-2.png" alt="image" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-inline-block position-relative z-1 text-center">
                                <img src="/img/choose-section-1-shape-2.png" alt="image" class="img-fluid choose-section-1__shape choose-section-1__shape--2 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                                <img src="/img/choose-section-1-shape-3.png" alt="image" class="img-fluid choose-section-1__shape choose-section-1__shape--3 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(-50%, 0%); opacity: 1;">
                                <img src="/img/choose-section-1-shape-4.png" alt="image" class="img-fluid choose-section-1__shape choose-section-1__shape--4 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                                <img src="/img/choose-section-1-img-2.png" alt="image" class="img-fluid choose-section-1__img choose-section-1__img--1 d-none d-xl-block fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(-450.985px, -186.547px) rotate(-8.99973deg); opacity: 1;">
                                <img src="/img/choose-section-1-img-1.png" alt="image" class="img-fluid fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                                <img src="/img/choose-section-1-img-3.png" alt="image" class="img-fluid choose-section-1__img choose-section-1__img--2 d-none d-xl-block fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(453.556px, -186.798px) rotate(8.99973deg); opacity: 1;">
                            </div>
                        </div>
                        <div class="col-lg-4 d-xl-none">
                            <div class="d-none d-lg-inline-block">
                                <img src="/img/choose-section-1-img-3.png" alt="image" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <h5 class="choose-section-1__title clr-neutral-80 mb-0 animate-text-from-left" style=""> More efficient and <br> more effective. </h5>
                    <button class="choose-section-1__play-btn fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        <i class="bi bi-play-fill"></i>
                    </button>
                    <img src="/img/choose-section-1-shape-1.png" alt="image" class="img-fluid choose-section-1__shape choose-section-1__shape--1">
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="px-lg-6 py-lg-8 rounded-3 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div class="d-grid place-content-center w-14 h-14 bg-neutral-variant-30 bg-opacity-5 rounded mb-6">
                        <img src="/img/icon-hourglass.png" alt="image" class="img-fluid">
                    </div>
                    <h6 class="clr-neutral-90 mb-2 reveal-text" style=""> Time reduced on first </h6>
                    <p class="mb-0 clr-neutral-80 fs-14 fw-medium animate-text-from-right" style=""> Create your projects and start tracking time immediately according </p>
                </div>
            </div>
            <div class="col-md-4 col-xl-6">
                <div class="px-lg-6 py-lg-8 rounded-3 choose-section-1__card fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div class="d-grid place-content-center w-14 h-14 bg-neutral-variant-30 bg-opacity-5 rounded mb-6">
                        <img src="/img/icon-pen-ruler.png" alt="image" class="img-fluid">
                    </div>
                    <h6 class="clr-neutral-90 mb-2 reveal-text" style=""> Ai content writing easy to use </h6>
                    <p class="mb-0 clr-neutral-80 fs-14 fw-medium animate-text-from-right" style=""> Whether you work with 1 team member or 1,000, you can bring the whole team together, and simplify your HR stack with Remote. </p>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="px-lg-6 py-lg-8 rounded-3 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div class="d-grid place-content-center w-14 h-14 bg-neutral-variant-30 bg-opacity-5 rounded mb-6">
                        <img src="/img/icon-comment-dots.png" alt="image" class="img-fluid">
                    </div>
                    <h6 class="clr-neutral-90 mb-2 reveal-text" style=""> Ai ChatBot generator </h6>
                    <p class="mb-0 clr-neutral-80 fs-14 fw-medium animate-text-from-right" style=""> Create your projects and start tracking time immediately according </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="p-md-6 rounded-4 bg-black">
            <div class="section-space-sm-y px-4 px-md-9 rounded-4 bg-neutral-4 position-relative z-1 overflow-hidden">
              <div class="row g-4 justify-content-center align-items-center">
                
                <div class="col-lg-6">
                  <div class="swiper hero-2-slider fadeIn_bottom swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div class="swiper-wrapper" id="swiper-wrapper-792845debcf1bc89" aria-live="off" style="transition-duration: 0ms; transition-delay: 0ms;">
                      <div class="swiper-slide swiper-slide-prev" style="width: 486px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="1 / 2">
                        <img src="/img/hero-2-img-1.png" alt="image" class="img-fluid">
                      </div>
                      <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" role="group" aria-label="2 / 2" style="width: 486px; opacity: 1; transform: translate3d(-486px, 0px, 0px); transition-duration: 0ms;">
                        <img src="/img/hero-2-img-2.png" alt="image" class="img-fluid">
                      </div>
                    </div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                  <div class="swiper hero-2-slider-thumb swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden swiper-thumbs">
                    <div class="swiper-wrapper" id="swiper-wrapper-8e8e310fd51db62e" aria-live="off" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms; transition-delay: 0ms;">
                      <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" style="width: 107.5px; margin-right: 16px;" role="group" aria-label="1 / 2">
                        <div class="hero-2-slider-thumb__img">
                          <img src="/img/hero-2-thumb-1.png" alt="image" class="img-fluid flex-shrink-0">
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-visible swiper-slide-next swiper-slide-thumb-active" role="group" aria-label="2 / 2" style="width: 107.5px; margin-right: 16px;">
                        <div class="hero-2-slider-thumb__img">
                          <img src="/img/hero-2-thumb-2.png" alt="image" class="img-fluid flex-shrink-0">
                        </div>
                      </div>
                    </div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
              </div>
              <img src="/img/hero-2-shape.png" alt="image" class="img-fluid position-absolute top-0 start-0 bottom-0 h-100 object-fit-cover z-n1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>