@model ViewModel.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<script type="text/javascript">
    
   

</script>

<body class="bg-black">
    
   
    <div class="trigger-showcase position-relative z-1">
        <!-- Hero Section Shapes -->
        <div class="hero-1-shapes">
            <img src="/img/hero-shape-left.webp" alt="image" class="img-fluid hero-1-shapes__img hero-1-shapes__img--1">
            <img src="/img/hero-shape-right.webp" alt="image" class="img-fluid hero-1-shapes__img hero-1-shapes__img--2">
            <img src="/img/hero-shape-ring-1.png" alt="image" class="img-fluid hero-1-shapes__img hero-1-shapes__img--3">
            <img src="/img/hero-shape-ring-2.png" alt="image" class="img-fluid hero-1-shapes__img hero-1-shapes__img--4">
        </div>
        <!-- /Hero Section Shapes -->
        <!-- Hero 1 -->
        <section class="hero-1">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10 col-lg-9 col-xxl-10 text-center">
                        <h1 class="clr-white fw-extrabold mb-6 animate-line-3d">
                            A platform for every FIT Student <div class="clr-grad-1">ASPU FIT hup</div>
                        </h1>
                        <p class="fs-18 fw-bold clr-neutral-80 max-text-50 mx-auto mb-10 animate-text-from-bottom"> For all clubs, competitions, workshops, etc. </p>
                        <div class="newsletter-1 d-inline-block w-100 max-text-60 mx-auto mb-4 position-relative z-1 overflow-hidden rounded fadeIn_bottom">
                            <div class="d-flex p-3 bg-neutral-10 rounded ">
                                <form method="get" action="/Home/SearchPage" style="display: contents;">
                                    <input type="text" id="searchTerm" class="form-control newsletter-1__input bg-transparent clr-neutral-60" name="searchTerm" placeholder="Clubs, competitions, workshops, etc">
                                    <button type="submit" class="newsletter-1__btn d-inline-block py-3 px-5 rounded fw-bold clr-white bg-grad-1" > Search </button>
                                </form>
                            </div>
                        </div>
                        <ul class="hero-1__tag-list list list-row align-items-center justify-content-center gap-3 flex-wrap">
                            <li class="animate-fadeInBottom">
                                <span class="d-block fs-14 clr-white"> Popular Tags: </span>
                            </li>
                            <li class="animate-fadeInBottom">
                                <a href="#" class="link d-inline-block text-center py-1 px-2 rounded bg-neutral-10 clr-neutral-80 fs-14 fw-medium"> Clubs</a>
                            </li>
                            <li class="animate-fadeInBottom">
                                <a href="#" class="link d-inline-block text-center py-1 px-2 rounded bg-neutral-10 clr-neutral-80 fs-14 fw-medium"> Competitions </a>
                            </li>
                            <li class="animate-fadeInBottom">
                                <a href="#" class="link d-inline-block text-center py-1 px-2 rounded bg-neutral-10 clr-neutral-80 fs-14 fw-medium"> Workshops </a>
                            </li>
                            <li class="animate-fadeInBottom">
                                <a href="#" class="link d-inline-block text-center py-1 px-2 rounded bg-neutral-10 clr-neutral-80 fs-14 fw-medium"> Events </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src="/img/FITerslogo.png" alt="image" class="img-fluid hero-1-shapes__img hero-1-shapes__img--5" width="100px" style="border-radius: 30px;">
            <img src="/img/ASPUlogo.png" alt="image" class="img-fluid hero-1-shapes__img hero-1-shapes__img--6" width="200px">
        </section>
        <!-- /Hero 1 -->
        <!-- Generated Image Showcase -->
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="row g-4">
                        <div class="col-12">
                            <img src="/img/1.jpg" alt="image" class="img-fluid rounded-1 img-fadeIn-1" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div>

                        <div class="col-md-6">
                            <img src="/img/7.jpg" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-3" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div><div class="col-md-6">
                            <img src="/img/7.jpg" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-3" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div><div class="col-12">
                            <img src="/img/3.jpg" alt="image" class="img-fluid rounded-1 img-fadeIn-4" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <img src="/img/6.jpg" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-2" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div>
                        <div class="col-md-6">
                            <img src="/img/7.jpg" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-3" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div>
                        <div class="col-12">
                            <img src="/img/3.jpg" alt="image" class="img-fluid rounded-1 img-fadeIn-4" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div>
                        <div class="col-md-6">
                            <img src="/img/6.jpg" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-2" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div><div class="col-md-6">
                            <img src="/img/6.jpg" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-2" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div><div class="col-md-6">
                            <img src="/img/6.jpg" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-2" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div><div class="col-md-6">
                            <img src="/img/6.jpg" alt="image" class="img-fluid rounded-1 w-100 img-fadeIn-2" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Generated Image Showcase -->
    </div>
   
 
 
  
    <!-- scrpts -->
    <script src="/js/plugins.js"></script>
    <script src="/js/app.js"></script>
</body>

