@model ViewModel.MainCompetitionPageViewModel
@{
    ViewBag.Title = "MainCompetitionPage";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

    <!-- About Section 4 -->
    <section class="about-section-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-7">
                    <div class="text-center">
                        <div class="d-inline-flex align-items-center py-2 px-4 bg-info-10 bg-opacity-3 rounded-1">
                            <a href="index-7.html" class="link fs-12 clr-white">Home</a>
                            <span class="fs-12 clr-white">-</span>
                            <span class="fs-12 clr-white">About Us</span>
                        </div>
                        <h2 class="h3 fw-bold clr-neutral-90 mt-4">Your Gateway to Cutting Edge AI Innovations</h2>
                    </div>
                </div>
            </div>
            <div class="mt-10">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="/img/about-section-4-main.png" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <img src="/img/about-section-4-shape-top.png" alt="image" class="img-fluid about-section-4-shape about-section-4-shape-top">
        <img src="/img/about-section-4-shape-left.png" alt="image" class="img-fluid about-section-4-shape about-section-4-shape-left">
        <img src="/img/about-section-4-shape-right.png" alt="image" class="img-fluid about-section-4-shape about-section-4-shape-right">
        <img src="/img/about-section-4-shape-line-left.png" alt="image" class="img-fluid about-section-4-shape about-section-4-shape-line-left">
        <img src="/img/about-section-4-shape-line-right.png" alt="image" class="img-fluid about-section-4-shape about-section-4-shape-line-right">
    </section>
    <!-- About Section 4 -->
    <!-- AI Benefit Section -->
    <div class="ai-benefit-section section-space-sm-top section-space-bottom">
        <div class="container">
            <div class="ai-benefit-wrapper">
                <div class="text-lg-end pe-lg-20 mb-6">
                    <span class="fs-20 fw-semibold clr-neutral-22">Benefit Use WriteBot AI </span>
                </div>
                <div class="row gy-4">
                    <div class="col-lg-5">
                        <img src="/img/ai-benefit-main.png" alt="image" class="img-fluid">
                    </div>
                    <div class="col-lg-7">
                        <div class="list-slider-wrapper">
                            <div class="list-slider-wrapper-inner">
                                <div class="swiper listSlider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Cost Savings: Reduce operational costs by minimizing</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Smart Decision-Making: Utilize data-driven insights to make informed.</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Customer Service Enhancement: Improve customer support</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Innovation Driver: Foster innovation by leveraging AI for the development</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Continuous Availability: Ensure 24/7 service and support with AI systems</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Cost Savings: Reduce operational costs by minimizing</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Smart Decision-Making: Utilize data-driven insights to make informed.</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Customer Service Enhancement: Improve customer support</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Innovation Driver: Foster innovation by leveraging AI for the development</span>
                                        </div>
                                        <div class="swiper-slide">
                                            <i class="bi bi-check2"></i>
                                            <span>Continuous Availability: Ensure 24/7 service and support with AI systems</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="/img/ai-benefit-line-top.png" alt="image" class="img-fluid ai-benefit-line ai-benefit-line-top">
                <img src="/img/ai-benefit-line-bottom.png" alt="image" class="img-fluid ai-benefit-line ai-benefit-line-bottom">
                <img src="/img/ai-benefit-line-left.png" alt="image" class="img-fluid ai-benefit-line ai-benefit-line-left">
                <img src="/img/ai-benefit-line-right.png" alt="image" class="img-fluid ai-benefit-line ai-benefit-line-right">
            </div>
        </div>
        <img src="/img/ai-benefit-shape-left.png" alt="image" class="img-fluid ai-benefit-shape-left">
    </div>
    <!-- /AI Benefit Section -->
    <!-- Mission Section -->
    <section class="mission-section">
        <div class="container">
            <div class="mb-xl-5 mb-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex align-items-center gap-4">
                            <div class="w-14 h-14 bg-primary-key rounded-circle d-flex align-items-center justify-content-center clr-primary-key fs-24 bg-opacity-2">
                                <i class="bi bi-gear"></i>
                            </div>
                            <h3 class="h3 fw-bold mb-0 clr-neutral-90">Our Mission</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mission-wrapper">
                <div class="row align-items-center">
                    <div class="col-xl-6">
                        <p class="fs-18 fw-bold clr-neutral-80">We pride ourselves on offering AI Generators that are unmatched in their quality, versatility, and ease of use. Here's what sets us apart from the competition:</p>
                        <p class="clr-neutral-80">With our AI Generators, the possibilities are endless. From generating compelling marketing copy and designing stunning visuals to automating data analysis and creating personalized user experiences, our tools will transform the way you work and help you achieve remarkable outcomes.</p>
                        <p class="clr-neutral-80">Join our community of innovators, creators, and forward-thinkers who are leveraging the power of AI to revolutionize their industries. Start your journey with [Company Name] today and unlock the full potential of AI Generators.</p>
                    </div>
                    <div class="col-xl-6">
                        <img src="/img/ai-mission.png" alt="image" class="img-fluid">
                    </div>
                </div>
                <img src="/img/mission-line-top.png" alt="image" class="img-fluid mission-shape-line mission-shape-line-top">
                <img src="/img/mission-line-right.png" alt="image" class="img-fluid mission-shape-line mission-shape-line-right">
            </div>
        </div>
        <img src="/img/mission-shape-circle.png" alt="image" class="img-fluid mission-shape-circle">
    </section>
    <!-- /Mission Section -->
    <!-- Key Feature Section -->
    <section class="key-feature-section section-space-bottom">
        <div class="container">
            <div class="mb-xl-5 mb-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex align-items-center gap-4">
                            <div class="w-14 h-14 bg-primary-key rounded-circle d-flex align-items-center justify-content-center clr-primary-key fs-24 bg-opacity-2">
                                <i class="bi bi-gem"></i>
                            </div>
                            <h3 class="h3 fw-bold mb-0 pe-3 bg-black clr-neutral-90">Key Features</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="key-feature-wrapper">
                <div class="row g-4">
                    <div class="col-lg-4 col-sm-6">
                        <div class="key-feature-card d-flex flex-column">
                            <img src="/img/key-feature-1.png" alt="image" class="img-fluid key-feature-card__img">
                            <h4 class="clr-neutral-90 fs-18 fw-700 mb-3 mt-6">Actual Current Content</h4>
                            <p class="clr-neutral-80 mb-0">AI can generate written content, including articles blog posts descriptions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="key-feature-card">
                            <img src="/img/key-feature-2.png" alt="image" class="img-fluid key-feature-card__img">
                            <h4 class="clr-neutral-90 fs-18 fw-700 mb-3 mt-6">Ai Image Generate </h4>
                            <p class="clr-neutral-80 mb-0">AI can generate written content, including articles blog posts descriptions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="key-feature-card">
                            <img src="/img/key-feature-3.png" alt="image" class="img-fluid key-feature-card__img">
                            <h4 class="clr-neutral-90 fs-18 fw-700 mb-3 mt-6">Adding knowledge Dashboard</h4>
                            <p class="clr-neutral-80 mb-0">AI can generate written content, including articles blog posts descriptions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="key-feature-card">
                            <img src="/img/key-feature-4.png" alt="image" class="img-fluid key-feature-card__img">
                            <h4 class="clr-neutral-90 fs-18 fw-700 mb-3 mt-6">Easy to use Ai Chatting </h4>
                            <p class="clr-neutral-80 mb-0">AI can generate written content, including articles blog posts descriptions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="key-feature-card">
                            <img src="/img/key-feature-5.png" alt="image" class="img-fluid key-feature-card__img">
                            <h4 class="clr-neutral-90 fs-18 fw-700 mb-3 mt-6">Awesome Dashboard</h4>
                            <p class="clr-neutral-80 mb-0">AI can generate written content, including articles blog posts descriptions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="key-feature-card">
                            <img src="/img/key-feature-6.png" alt="image" class="img-fluid key-feature-card__img">
                            <h4 class="clr-neutral-90 fs-18 fw-700 mb-3 mt-6">Easy to use Ai Chatting </h4>
                            <p class="clr-neutral-80 mb-0">AI can generate written content, including articles blog posts descriptions</p>
                        </div>
                    </div>
                </div>
                <img src="/img/key-feature-line-left.png" alt="image" class="img-fluid key-feature-line-left">
            </div>
        </div>
    </section>
    <!-- /Key Feature Section -->
    <!-- Team Section -->
    <section class="team-section section-space-bottom">
        <div class="container">
            <div class="mb-xl-10 mb-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex align-items-center justify-content-center gap-4">
                            <div class="w-14 h-14 bg-primary-key rounded-circle d-flex align-items-center justify-content-center clr-primary-key fs-24 bg-opacity-2">
                                <i class="bi bi-people-fill"></i>
                            </div>
                            <h3 class="clr-neutral-90 h3 fw-bold mb-0">Team Members</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-section-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="scroller-x mb-5 dark-overlay" data-direction="right" data-speed="slow" data-animated="true">
                            <ul class="list list-row gap-5 scroller-x__list">
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-1.png" alt="image" class="img-fluid">
                                        <h5 class="clr-neutral-90 fs-18 mb-1 mt-5">Matheo Shena</h5>
                                        <span class="clr-neutral-80 fs-12">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-2.png" alt="image" class="img-fluid">
                                        <h5 class="fs-18 mb-1 mt-5 clr-neutral-90">Bessie Cooper</h5>
                                        <span class="fs-12 clr-neutral-80">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-3.png" alt="image" class="img-fluid">
                                        <h5 class="clr-neutral-90 fs-18 mb-1 mt-5">Jerome Bell</h5>
                                        <span class="clr-neutral-80 fs-12">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-4.png" alt="image" class="img-fluid">
                                        <h5 class="clr-neutral-90 fs-18 mb-1 mt-5">Guy Hawkins</h5>
                                        <span class="clr-neutral-80 fs-12">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-1.png" alt="image" class="img-fluid">
                                        <h5 class="clr-neutral-90 fs-18 mb-1 mt-5">Matheo Shena</h5>
                                        <span class="clr-neutral-80 fs-12">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="scroller-x mb-4 dark-overlay" data-direction="left" data-speed="slow" data-animated="true">
                            <ul class="list list-row gap-5 scroller-x__list">
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-1.png" alt="image" class="img-fluid">
                                        <h5 class="clr-neutral-90 fs-18 mb-1 mt-5">Matheo Shena</h5>
                                        <span class="clr-neutral-80 fs-12">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-2.png" alt="image" class="img-fluid">
                                        <h5 class="fs-18 mb-1 mt-5 clr-neutral-90">Bessie Cooper</h5>
                                        <span class="fs-12 clr-neutral-80">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-3.png" alt="image" class="img-fluid">
                                        <h5 class="clr-neutral-90 fs-18 mb-1 mt-5">Jerome Bell</h5>
                                        <span class="clr-neutral-80 fs-12">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-4.png" alt="image" class="img-fluid">
                                        <h5 class="clr-neutral-90 fs-18 mb-1 mt-5">Guy Hawkins</h5>
                                        <span class="clr-neutral-80 fs-12">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="team-card rounded-3 py-12 px-6 text-center">
                                        <img src="/img/team-1.png" alt="image" class="img-fluid">
                                        <h5 class="clr-neutral-90 fs-18 mb-1 mt-5">Matheo Shena</h5>
                                        <span class="clr-neutral-80 fs-12">UI & UX Designer</span>
                                        <ul class="list list-row gap-5 mt-4 justify-content-center">
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#0" class="link clr-neutral-40">
                                                    <i class="bi bi-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <img src="/img/team-section-line.png" alt="image" class="img-fluid team-section-line">
            </div>
        </div>
        <img src="/img/team-section-shape.png" alt="image" class="img-fluid team-section-shape">
    </section>
    <!-- /Team Section -->
    <!-- How Work Section 2 -->
    <section class="how-work-section-2 section-space-sm-bottom">
        <div class="container">
            <div class="mb-xl-10 mb-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex align-items-center gap-4">
                            <div class="w-14 h-14 bg-primary-key rounded-circle d-flex align-items-center justify-content-center clr-primary-key fs-24 bg-opacity-2">
                                <i class="bi bi-gem"></i>
                            </div>
                            <h3 class="clr-neutral-90 h3 fw-bold mb-0">How we works</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-work-2-wrapper">
                <div class="row gy-4 align-items-center">
                    <div class="col-lg-6 px-lg-8 ps-xl-12 ps-xxl-20">
                        <div class="accordion how-work-accordion" id="howWorkAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-1" aria-expanded="false" aria-controls="c-1">
                                        <i class="bi bi-check2"></i> Trust & Safety team
                                    </button>
                                </h2>
                                <div id="c-1" class="accordion-collapse collapse" data-bs-parent="#howWorkAccordion">
                                    <div class="accordion-body">
                                        <p>Our data handling practices, systems and processes have been independently audited & certified. Below is a suggested course outline for a Figma course. This outline covers essential</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-2" aria-expanded="true" aria-controls="c-2">
                                        <i class="bi bi-check2"></i> In Adherence to SOC 2 & GDPR Standards.
                                    </button>
                                </h2>
                                <div id="c-2" class="accordion-collapse collapse show" data-bs-parent="#howWorkAccordion">
                                    <div class="accordion-body">
                                        <p>Our data handling practices, systems and processes have been independently audited & certified. Below is a suggested course outline for a Figma course. This outline covers essential</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-3" aria-expanded="false" aria-controls="c-3">
                                        <i class="bi bi-check2"></i> Content Moderation Policy
                                    </button>
                                </h2>
                                <div id="c-3" class="accordion-collapse collapse" data-bs-parent="#howWorkAccordion">
                                    <div class="accordion-body">
                                        <p>Our data handling practices, systems and processes have been independently audited & certified. Below is a suggested course outline for a Figma course. This outline covers essential</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-4" aria-expanded="false" aria-controls="c-4">
                                        <i class="bi bi-check2"></i> Chat with your project
                                    </button>
                                </h2>
                                <div id="c-4" class="accordion-collapse collapse" data-bs-parent="#howWorkAccordion">
                                    <div class="accordion-body">
                                        <p>Our data handling practices, systems and processes have been independently audited & certified. Below is a suggested course outline for a Figma course. This outline covers essential</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="/img/how-work-section-2-main.png" alt="image" class="img-fluid">
                    </div>
                </div>
                <img src="/img/how-work-section-2-line.png" alt="image" class="img-fluid how-work-2-wrapper-line">
            </div>
        </div>
        <img src="/img/how-work-section-2-shape-right.png" alt="image" class="img-fluid how-work-section-2-shape">
    </section>
    <!-- /How Work Section 2 -->
    <!-- Ticker Section 5 -->
    <div class="ticker-section-5 section-space-sm-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="overflow-hidden bg-neutral-4 rounded-2 py-4">
                        <div class="scroller-x" data-direction="left" data-speed="slow">
                            <ul class="list list-row align-items-center gap-4 scroller-x__list">
                                <li>
                                    <p class="h5 fw-bold mb-0 clr-neutral-87"> 100% Strong </p>
                                </li>
                                <li>
                                    <img src="/img/icon-star-gradient-sm.png" alt="image" class="img-fluid">
                                </li>
                                <li>
                                    <p class="h5 fw-bold mb-0 clr-neutral-87"> 1M+ People Join Our Community </p>
                                </li>
                                <li>
                                    <img src="/img/icon-star-gradient-sm.png" alt="image" class="img-fluid">
                                </li>
                                <li>
                                    <p class="h5 fw-bold mb-0 clr-neutral-87"> Join Our WriteBot Community </p>
                                </li>
                                <li>
                                    <img src="/img/icon-star-gradient-sm.png" alt="image" class="img-fluid">
                                </li>
                                <li>
                                    <p class="h5 fw-bold mb-0 clr-neutral-87"> WriteBot AI </p>
                                </li>
                                <li>
                                    <img src="/img/icon-star-gradient-sm.png" alt="image" class="img-fluid">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Ticker Section 5 -->
<div class="blog-section-4 section-space-y">
    <div class="section-space-sm-bottom">
        <div class="container">
            <div class="row g-4 justify-content-between align-items-center">
                <div class="col-md-5">
                    <div class="d-flex align-items-center gap-3 fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                        <span class="d-inline-block flex-shrink-0">
                            <img src="/img/icon-subtitle.png" alt="image" class="img-fluid">
                        </span>
                        <span class="d-inline-block clr-secondary-key ff-1 fw-bold fs-18"> Recent Post </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-0 clr-neutral-90 fw-extrabold animate-line-3d" style="perspective: 400px;"> Explore the latest <span class="d-inline-block clr-grad-4">AI developments trends &amp;</span> insights in our dynamic news &amp; posts section Stay informed &amp; ahead in AI. </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="blog-card-1 top-shadow px-6 py-10 position-relative z-1 overflow-hidden rounded-3 bg-neutral-10 bg-opacity-6 fadein_bottom_35" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div class="d-inline-block py-1 px-2 fs-14 fw-bold ff-1 bg-primary-2 clr-white rounded"> AI News </div>
                    <div class="blog-card-1__img">
                        <img src="/img/blog-img-1.jpg" alt="image" class="img-fluid h-100 object-fit-cover">
                    </div>
                    <div class="blog-card-1__body">
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <span class="d-inline-block clr-neutral-90 fs-14 fw-medium ff-1"> March 18, 2022 </span>
                            <span class="d-inline-block w-1 h-1 rounded-circle bg-neutral-90"></span>
                            <span class="d-inline-block clr-neutral-90 fs-14 fw-medium ff-1"> Comments </span>
                        </div>
                        <h6 class="mb-6 fs-24">
                            <a href="blog-details.html" class="link d-block clr-neutral-90"> Antenna Promises New era For Satellite Communication </a>
                        </h6>
                        <a href="blog-details.html" class="link d-inline-flex justify-content-center align-items-center gap-1 ff-1 clr-primary-2 mx-auto">
                            <span class="d-inline-block fw-semibold"> Explore More </span>
                            <span class="d-inline-block">
                                <i class="bi bi-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card-1 top-shadow px-6 py-10 position-relative z-1 overflow-hidden rounded-3 bg-neutral-10 bg-opacity-6 fadein_bottom_35" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div class="d-inline-block py-1 px-2 fs-14 fw-bold ff-1 bg-secondary-key clr-white rounded"> AI News </div>
                    <div class="blog-card-1__img">
                        <img src="/img/blog-img-2.jpg" alt="image" class="img-fluid h-100 object-fit-cover">
                    </div>
                    <div class="blog-card-1__body">
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <span class="d-inline-block clr-neutral-90 fs-14 fw-medium ff-1"> March 18, 2022 </span>
                            <span class="d-inline-block w-1 h-1 rounded-circle bg-neutral-90"></span>
                            <span class="d-inline-block clr-neutral-90 fs-14 fw-medium ff-1"> Comments </span>
                        </div>
                        <h6 class="mb-6 fs-24">
                            <a href="blog-details.html" class="link d-block clr-neutral-90"> AI software offers repetitive &amp; mundane patterns </a>
                        </h6>
                        <a href="blog-details.html" class="link d-inline-flex justify-content-center align-items-center gap-1 ff-1 clr-primary-2 mx-auto">
                            <span class="d-inline-block fw-semibold"> Explore More </span>
                            <span class="d-inline-block">
                                <i class="bi bi-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-card-1 top-shadow px-6 py-10 position-relative z-1 overflow-hidden rounded-3 bg-neutral-10 bg-opacity-6 fadein_bottom_35" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">
                    <div class="d-inline-block py-1 px-2 fs-14 fw-bold ff-1 bg-primary-2 clr-white rounded"> AI News </div>
                    <div class="blog-card-1__img">
                        <img src="/img/blog-img-3.jpg" alt="image" class="img-fluid h-100 object-fit-cover">
                    </div>
                    <div class="blog-card-1__body">
                        <div class="d-flex align-items-center gap-2 mb-1">
                            <span class="d-inline-block clr-neutral-90 fs-14 fw-medium ff-1"> March 18, 2022 </span>
                            <span class="d-inline-block w-1 h-1 rounded-circle bg-neutral-90"></span>
                            <span class="d-inline-block clr-neutral-90 fs-14 fw-medium ff-1"> Comments </span>
                        </div>
                        <h6 class="mb-6 fs-24">
                            <a href="blog-details.html" class="link d-block clr-neutral-90"> Antenna Promises New era For Satellite Communication </a>
                        </h6>
                        <a href="blog-details.html" class="link d-inline-flex justify-content-center align-items-center gap-1 ff-1 clr-primary-2 mx-auto">
                            <span class="d-inline-block fw-semibold"> Explore More </span>
                            <span class="d-inline-block">
                                <i class="bi bi-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-space-sm-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center fadeIn_bottom" style="translate: none; rotate: none; scale: none; transform: translate(0px, 50px); opacity: 0;">
                        <a href="blog-1.html" class="link d-inline-flex gap-2 align-items-center py-3 px-6 ff-1 gradient-btn-4 clr-white fw-bold rounded">
                            <span class="d-inline-block"> More Post </span>
                            <span class="d-inline-block">
                                <i class="bi bi-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
