@model ViewModel.SearchPageViewModel
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<!--
    Popular S
-->

<section class="breadcrumb-section">
    
    <div class="container">
        <div class="row">
            <div class="col-xxl-7 col-xl-8">
                <div class="d-inline-flex align-items-center py-2 px-4 bg-info-10 bg-opacity-3 rounded-1">
                    <a href="index-7.html" class="link fs-12 clr-white">Home</a>
                    <span class="fs-12 clr-white">-</span>
                    <span class="fs-12 clr-white"> Search </span>
                </div>
                <h2 class="h3 fw-bold clr-neutral-90 mt-4">Search Results</h2>
            </div>
        </div>
    </div>
    <img src="/img/breadcrumb-shape-top.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-top">
    <img src="/img/breadcrumb-shape-left.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-left">
    <img src="/img/breadcrumb-shape-right.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-right">
    <img src="/img/breadcrumb-shape-line-left.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-line-left">
    <img src="/img/breadcrumb-shape-line-right.png" alt="image" class="img-fluid breadcrumb-shape breadcrumb-shape-line-right">
</section>

<!--
    Popular E
-->
<div class="section-space-sm-top section-space-bottom position-relative z-index-1">
    <div class="container">
        <div class="row gy-5">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <ul class="nav nav-underline nav-bordered" id="popularTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80 active" id="p1-tab" data-bs-toggle="tab" data-bs-target="#p1-tab-pane" type="button" role="tab" aria-controls="p1-tab-pane" aria-selected="true">All Results</button>
                        </li>
                        
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80" id="p2-tab" data-bs-toggle="tab" data-bs-target="#p2-tab-pane" type="button" role="tab" aria-controls="p2-tab-pane" aria-selected="false" tabindex="-1">People</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80" id="p2-tab" data-bs-toggle="tab" data-bs-target="#p2-tab-pane" type="button" role="tab" aria-controls="p2-tab-pane" aria-selected="false" tabindex="-1">Clubs</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80" id="p3-tab" data-bs-toggle="tab" data-bs-target="#p3-tab-pane" type="button" role="tab" aria-controls="p3-tab-pane" aria-selected="false" tabindex="-1">Competitions</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80" id="p4-tab" data-bs-toggle="tab" data-bs-target="#p4-tab-pane" type="button" role="tab" aria-controls="p4-tab-pane" aria-selected="false" tabindex="-1">Workshops</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link clr-neutral-80" id="p5-tab" data-bs-toggle="tab" data-bs-target="#p5-tab-pane" type="button" role="tab" aria-controls="p5-tab-pane" aria-selected="false" tabindex="-1">FIT Events &amp; More</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                
                <div class="row gy-4">
                    <div class="col-12">
                        <div class="p-5 p-sm-8 bg-neutral-4 rounded-4">
                            <a href="blog-details.html" class="d-block rounded-top-start-4 rounded-top-end-4 overflow-hidden">
                                <img src="/img/large-post-1.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover">
                            </a>
                            <ul class="list list-row gap-5 mt-10">
                                <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                    <i class="bi bi-calendar2-date"></i> March 19, 2022
                                </li>
                                <li class="fs-14 clr-neutral-80"> (15) Comments </li>
                            </ul>
                            <h3 class="h4 mt-2">
                                <a href="blog-details.html" class="d-block clr-neutral-90 link fw-bold max-text-24 :clr-primary-key">Conducting an SEO Audit the Ultimate Checklist</a>
                            </h3>
                            <p class="clr-neutral-80 mt-6">With our AI Generators, the possibilities are endless.Compelling marketing copy designing stunning visuals personalize user experiences.</p>
                            <a href="blog-details.html" class="d-inline-block py-4 px-8 clr-white bg-primary-key :bg-primary-30 rounded-2 link mt-6">Explore More</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="p-5 p-sm-8 bg-neutral-4 rounded-4">
                            <a href="blog-details.html" class="d-block rounded-top-start-4 rounded-top-end-4 overflow-hidden">
                                <img src="/img/large-post-2.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover">
                            </a>
                            <ul class="list list-row gap-5 mt-10">
                                <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                    <i class="bi bi-calendar2-date"></i> March 19, 2022
                                </li>
                                <li class="fs-14 clr-neutral-80"> (15) Comments </li>
                            </ul>
                            <h3 class="h4 mt-2">
                                <a href="blog-details.html" class="d-block clr-neutral-90 link fw-bold max-text-24 :clr-primary-key">Conducting an SEO Audit the Ultimate Checklist</a>
                            </h3>
                            <p class="clr-neutral-80 mt-6">With our AI Generators, the possibilities are endless.Compelling marketing copy designing stunning visuals personalize user experiences.</p>
                            <a href="blog-details.html" class="d-inline-block py-4 px-8 clr-white bg-primary-key :bg-primary-30 rounded-2 link mt-6">Explore More</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="p-5 p-sm-8 bg-neutral-4 rounded-4">
                            <a href="blog-details.html" class="d-block rounded-top-start-4 rounded-top-end-4 overflow-hidden">
                                <img src="/img/large-post-3.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover">
                            </a>
                            <ul class="list list-row gap-5 mt-10">
                                <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                    <i class="bi bi-calendar2-date"></i> March 19, 2022
                                </li>
                                <li class="fs-14 clr-neutral-80"> (15) Comments </li>
                            </ul>
                            <h3 class="h4 mt-2">
                                <a href="blog-details.html" class="d-block clr-neutral-90 link fw-bold max-text-24 :clr-primary-key">Conducting an SEO Audit the Ultimate Checklist</a>
                            </h3>
                            <p class="clr-neutral-80 mt-6">With our AI Generators, the possibilities are endless.Compelling marketing copy designing stunning visuals personalize user experiences.</p>
                            <a href="blog-details.html" class="d-inline-block py-4 px-8 clr-white bg-primary-key :bg-primary-30 rounded-2 link mt-6">Explore More</a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="p-5 p-sm-8 bg-neutral-4 rounded-4">
                            <a href="blog-details.html" class="d-block rounded-top-start-4 rounded-top-end-4 overflow-hidden">
                                <img src="/img/large-post-1.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover">
                            </a>
                            <ul class="list list-row gap-5 mt-10">
                                <li class="fs-14 clr-neutral-80 d-flex gap-2">
                                    <i class="bi bi-calendar2-date"></i> March 19, 2022
                                </li>
                                <li class="fs-14 clr-neutral-80"> (15) Comments </li>
                            </ul>
                            <h3 class="h4 mt-2">
                                <a href="blog-details.html" class="d-block clr-neutral-90 link fw-bold max-text-24 :clr-primary-key">Conducting an SEO Audit the Ultimate Checklist</a>
                            </h3>
                            <p class="clr-neutral-80 mt-6">With our AI Generators, the possibilities are endless.Compelling marketing copy designing stunning visuals personalize user experiences.</p>
                            <a href="blog-details.html" class="d-inline-block py-4 px-8 clr-white bg-primary-key :bg-primary-30 rounded-2 link mt-6">Explore More</a>
                        </div>
                    </div>
                </div>
                <ul class="pagination flex-wrap number-pagination gap-2 mt-12">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="bg-neutral-4 py-5 px-4 py-sm-10 px-sm-8 rounded-1">
                    <h4 class="clr-neutral-90 fw-extrabold fs-24 mb-6">Search</h4>
                    <form class="d-flex bg-neutral-12 rounded-top-start-2 rounded-bottom-start-2">
                        <input type="search" name="#" placeholder="Serach..." class="form-control newsletter-1__input h-13 bg-transparent border border-neutral-24 clr-neutral-60 rounded-0 rounded-top-start-2 rounded-bottom-start-2">
                        <button type="submit" class="px-5 bg-primary-key clr-white border-0 rounded-top-end-2 rounded-bottom-end-2"><i class="bi bi-search"></i></button>
                    </form>
                    <hr class="opacity-100 my-10">
                    <h4 class="clr-neutral-90 fs-24 fw-semibold mb-7">Most Popular Searchs</h4>
                    <ul class="list list-column gap-4">
                        <li>
                            <a href="blog-1.html" class="link clr-neutral-80 :clr-primary-key">GDS students</a>
                        </li>
                        <li>
                            <a href="blog-1.html" class="link clr-neutral-80 :clr-primary-key">UX UI Workshop</a>
                        </li>
                       
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Hero 1 -->

